html, body {
     background-color: #fff;
     color: #636b6f;
     font-family: 'Nunito', sans-serif;
     font-weight: 200;
     height: 100vh;
     margin: 0;
}

/* Welcome */
.full-height {
     height: 100vh;
}
.flex-center {
     align-items: center;
     display: flex;
     justify-content: center;
}
.position-ref {
     position: relative;
}
.content {
     text-align: center;
}
.title {
     font-size: 84px;
}
.links > a {
     color: #636b6f;
     padding: 0 25px;
     font-size: 13px;
     font-weight: 600;
     letter-spacing: .1rem;
     text-decoration: none;
     text-transform: uppercase;
}
.m-b-md {
     margin-bottom: 30px;
}

/* Email Form */
.contact{
     padding: 4%;
     height: 400px;
}
.col-md-3{
     background: #ff9b00;
     padding: 4%;
     border-top-left-radius: 0.5rem;
     border-bottom-left-radius: 0.5rem;
}
.contact-info{
     margin-top:10%;
}
.contact-info img{
     margin-bottom: 15%;
}
.contact-info h2{
     margin-bottom: 10%;
}
.col-md-9{
     background: #fff;
     padding: 3%;
     border-top-right-radius: 0.5rem;
     border-bottom-right-radius: 0.5rem;
}
.contact-form label{
     font-weight:600;
}
.contact-form button[type=submit]{
     background: #25274d;
     color: #fff;
     font-weight: 600;
     width: 25%;
}
.contact-form button[type=submit]:focus{
     box-shadow:none;
}

/* Error */
.error {
     color: #FF4136;
     padding: 0;
     margin-left: 12px;
}
.error ul, .success ul{
     list-style: none;
     padding: 0;
}

/* Success */
.success {
     color: #008000;
     padding: 0;
     margin-left: 12px;
}

/* Log status states */
.label {
     display: inline;
     padding: .2em .6em .3em;
     font-size: 75%;
     font-weight: 700;
     line-height: 1;
     color: #fff;
     text-align: center;
     white-space: nowrap;
     vertical-align: baseline;
     border-radius: .25em;
}
.label-queue {
     background-color: #ffc107;
}
.label-bounce {
     background-color: #dc3545;
}
.label-deliver {
     background-color: #5cb85c;
}

/* Tinymce */
.invalid-feedback{
     display: block !important;
}
